*{
    padding: 0;
    margin: 0;
}
body{
    /* background: linear-gradient(60deg, #10ac8a, #f50fce); */
        /* background-color: #000000;  */
}
#form{
    background-color:white;
    width: 400px;
    margin: 7vh auto;
}
.para{
    font-size: 12px;
    text-align: center;
    /* align-items: center; */
} 
.input-type{
    margin: 10px 35px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
} 
.input-type label{
    font-weight: 500;
    margin: 0 10px;
}
.submit{
    padding: 3px;
    margin:0px 0;
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
    background-color: rgb(206, 198, 198);
    width: 25%;
    margin-left: 9rem;
    font-weight: 600;
}
.submit:hover{
    background-color: green;
    color: white;
}
.input-type input{
    padding: 10px;
    margin: 7px ;
    border-radius: 7px;
    font-size: 15px;
}
.pass{
    text-decoration: none;
    /* text-align: end; */
    font-size: 13px;
    /* font-weight: bold; */
    color: #640444;
    /* margin-left: 10px; */
}
.pass1{
    text-decoration: none;
    /* text-align: start; */
    font-size: 13px;
    color: #640444;

}

.icons{
    text-align: center;
    margin: 20px 0px;
  
}
